@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;800&family=Work+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  color: #05101c;
  font-family: 'Roboto Slab', serif;
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 10px;
  letter-spacing: 1px;
}